{{#affinity-engine-animation-box-wrapper
  animationAdapter=animationLibrary
  transitionIn=transitionIn
  transitionOut=transitionOut
  willTransitionOut=willTransitionOut
  didTransitionOut=(action "didTransitionOut")
}}
  {{#if screen}}
    <div class="ae-stage-scene-window-screen {{screen}}" style={{childStyle}} data-test={{hook "affinity_engine_stage_scene_window_screen"}}></div>
  {{/if}}

  <div class="ae-stage-scene-window-main {{windowClassNames}}" style={{childStyle}} data-test={{hook "affinity_engine_stage_scene_window_main"}}>
    {{affinity-engine-stage
      initialScene=sceneId
      engineId=engineId
      stageId=window
      windowDirection=windowDirection
    }}
  </div>
{{/affinity-engine-animation-box-wrapper}}
