{{#if screen}}
  <div class="et-scene-window-screen {{ember-theater/joined-array screen}}" style={{childStyle}}></div>
{{/if}}

<div class="et-scene-window-main {{joinedConfigurableClassNames}}" style={{childStyle}} data-test={{hook "ember_theater_director_scene_window_main"}}>
  {{ember-theater-director
    initialScene=sceneId
    sceneRecord=sceneRecord
    theaterId=theaterId
    windowId=sceneWindowId
    window=window
  }}
</div>
